
.rps{
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    background:white ;
    box-shadow: inset 0 0.3rem 0 2px rgb(64 64 64 / 25%)
                    , 0 0.5rem 0 0px rgb(162 21 47);
    border: 1.6rem solid #dc3550;

    user-select: none;

    width: 70%;
    height: 80%;
    max-width: 12rem;
    max-height: 12rem;
    min-width: 7rem;
    min-height: 7rem;
    img{
        width: 4rem;
    }

}

.rps2{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: white;
    border: 1.6rem solid #dc3550;
    cursor: pointer;
    width: 100%;
    height: 100%;
    min-width: 9rem;
    min-height: 9rem;
    z-index: 2;
    img{
        width: 4rem;
    }

}

.results-rock{
    box-shadow: inset 0 0.3rem 0 2px rgb(64 64 64 / 25%)
        , 0 0.5rem 0 0px #b02f2d;
        border-color: #df4f4f ;
}
.results-paper{
    box-shadow: inset 0 0.3rem 0 2px rgb(64 64 64 / 25%)
        , 0 0.5rem 0 0px #2a46c2;
        border-color: #4665f6 ;
}
.results-scissors{
    box-shadow: inset 0 0.3rem 0 2px rgb(64 64 64 / 25%)
    , 0 0.5rem 0 0px #c96b19;
    border-color: #eb9f0e ;
}


.my-choice,.house-choice{
    position: relative;
    .focused{
        position: absolute;
        left: 0%;
        top: 0%;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        z-index: 0;
        background: white;
        opacity: .07;
        transform: scale(1.5);
        
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0%;
            // animation: winner-anim 2s linear infinite ;
            animation-delay: 1s;
            border-radius: 50%;
            background-color: white;
            transform: scale(1.8);
            opacity: .5;
        }
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0%;
            // animation: winner-anim 2s linear infinite ;
            border-radius: 50%;
            background-color: white;
            transform: scale(2.5);
            opacity: .5;
        }
    }
}










@keyframes winner-anim {
    from{
        transform: scale(1);
        opacity: .1;
    }
    to{
        transform: scale(5);
        opacity: 0;
    }
}