@use './variables' as *;

.rps{
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: $red-gradient;
    cursor: pointer;
    width: 80%;
    height: 90%;
    max-width: 12rem;
    max-height: 12rem;
    min-width: 9rem;
    min-height: 9rem;
    img{
        width: 4rem;
    }


    &::before{
        content: '';
        position: absolute;
        background: $white-gradient;
        width: 80%;
        height: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        border-radius: 50%;
    }
}


.rps2{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: red;
    cursor: pointer;
    width: 100%;
    height: 100%;
    min-width: 9rem;
    min-height: 9rem;
    z-index: 2;
    img{
        width: 4rem;
    }


    &::before{
        content: '';
        position: absolute;
        background-color: white;
        width: 80%;
        height: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        z-index: -1;
    }
}




.my-choice,.house-choice{
    position: relative;
    .focused{
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        width: 100%;
        height: 100%;
        border-radius: 50%;

        &::before{
            content: '';
            width: 100%;
            height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            animation: winner-anim 2s 1s linear infinite ;
            border-radius: 50%;
            background-color: white;
        }
        &::after{
            content: '';
            width: 100%;
            height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            animation: winner-anim 2s 0 linear infinite ;
            border-radius: 50%;
            background-color: white;
        }
    }
}


@keyframes winner-anim {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1000);
    }
}