@use './variables' as *;
.rps-choice{
    width: 40%;
    max-width: 17rem;
    margin-top: 9rem;
    position: relative;

    .rps:nth-child(1){
        left: 0;
        top: 0;
        background: $red-gradient;
    }
    .rps:nth-child(2){
        left: 100%;
        top: 0;
        background: $blue-gradient;
    }
    .rps:nth-child(3){
        left: 50%;
        top: 100%;
        background: $yellow-gradient;
    }
    
    .triangle{
        width: 100%;
    }


}