@media (max-width:411px){
.rps-choice{
    margin-top: 6rem;
    .rps{
        img{
            height: 78%;
            width: 70%;
            padding: 1rem;
        }
    }
}
}


@media screen and (max-width:661px){

        .rules{
        #rules-btn{
            display: block;
            position: static !important;
            transform: translate(0%, 0%);
            margin-top: 7rem;
            margin-bottom: 1rem;
            margin-inline: auto;
        }
    }

    .rules{
        #rules-container{
            height: 100%;
            width: 100%;
            border-radius: 0 ;
            flex-direction: column ;
            align-items: center;
    
    
            h1{
                flex-basis: 10%;
                color: black;
                font-size: 4rem;
            }
    
            #close-btn{
                flex-basis: 15% ;
                order: 2;
                margin-top: auto;
                width: 3rem;
                height: 3rem;
                
            }
    
            #rules-img{
                flex-basis: 10% ;
                width: 95%;

            }
    
        }
    }

}


@media (max-width:932px){
    .rps-results{
        flex-wrap: wrap;
    
    
        .res-container{
            
            &:not(.result-txt-btn){
                flex-direction: column-reverse;
                margin: 0;
                flex-basis: 50%;
            }

    
            .my-choice,.house-choice{
                margin-top: 0;
                margin-bottom: 1rem;
                width: 10rem;
                height: 10rem;
                margin-inline: 1rem;
    
                .house-choice-img{
                    display: none;
                }
            }
    
        }
    
        .result-txt-btn{
            z-index: 1;
            order: 2;
            margin: auto;
            margin-top: 4rem;
            }
    
    }
    }