$white-gradient: 
radial-gradient(circle at bottom, #e6e6e6 85%, #bbbed7 85%);

$red-gradient: 
radial-gradient(circle at top, #df4f4f 85%, #b02f2d 85%);

$blue-gradient: 
radial-gradient(circle at top, #4665f6 85%, #2a46c2 85%);

$yellow-gradient: 
radial-gradient(circle at top, #eb9f0e 85%, #c96b19 85%);
