$white-gradient:radial-gradient(
circle at 50% 0%,
#E6E6E6 82%, 
#BBBED7 82%);

$red-gradient:radial-gradient(
circle at bottom,
#DF4F4F 85%, 
#B02F2D 85%);

$green-gradient:radial-gradient(
circle at top,
#4665F6 85%, 
#2A46C2 85%);

$yellow-gradient:radial-gradient(
circle at top,
#EB9F0E 85%, 
#C96B19 85%);
